<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>

<body>
    <div class="question">
    <h1>Quiz Completed!</h1>
    <div class="problem">
        <h3>Streak <%= answerStreak %></h3>
    </div>
</div>
</body>
</html>