<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>

<body>
    <main class="main-content index_container">
        <h1>Leaderboard</h1>

        <ol>
            <% for (var i = 0; i < users.length; i++) { %>
                <li>
                    <p> 
                        <%= users[i].name %>: <%= users[i].streak %> questions correct 
                        (<%= users[i].date ? users[i].date : users[i].currentDate %>)
                    </p>
                </li>
            <% } %>
        </ol>

        <div class="navigation__container">
        <a href="/">
            Home Page
        </a>
    </div>
    </main>
</body>
</html>